@import '../../../Theme.scss';

.toolbox {
  border-radius: 100px;
  position: fixed;
  z-index: 1;
  background-color: $lightgray;
}

.toolbox-border {
  border-radius: 100px;
  background-color: $lightgray;
}

.toolbox button {
  transition: 0.25s;
  border-radius: 100px;
  padding: 12px;
}
