@import '../../Theme';

.search-input {
  border-radius: 0;
  border: none;
  height: 40px;
}

.search-button {
  color: $secondary;
  border: none;
  border-radius: 0;
  padding: 0px 9px;
}

.search-mobile {
  z-index: 1000;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 40px;
  background-color: $light;
}
