.menu {
  height: 100%;
  position: fixed;
  z-index: 1000;
  overflow-x: hidden;
  transition: 0.15s;
  background-color: #eee;
}

.menu .nav-link {
  font-weight: 500;
  color: #333;
}

.menu .nav-link .feather {
  margin-right: 14px;
  color: #999;
}

.menu .nav-link:hover .feather,
.menu .nav-link.active .feather {
  color: inherit;
}
