.guide {
  height: 100%;
  position: fixed;
  z-index: 1000;
  overflow-x: hidden;
  transition: 0.15s;
  background-color: #eee;
}

.guide .nav-link {
  font-weight: 500;
  color: #333;
}

.guide .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.guide .nav-link:hover .feather,
.guide .nav-link.active .feather {
  color: inherit;
}
