.pin-input input::-webkit-outer-spin-button,
.pin-input input::-webkit-inner-spin-button {
  margin: 0;
  display: none;
}

.pin-input input {
  text-align: center;
}

.pin-input {
  user-select: none;
}
