@import '../../../Theme';

.menu-button {
  cursor: pointer;
  user-select: none;
}

.burger,
.grid {
  fill: $lightgray;
}

.user {
  background-color: $lightgray;
  border-radius: 100px;
  border-style: solid;
  border-width: 1px;
  border-color: $lightgray;
}

.plus {
  color: $lightgray;
}
.logo {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.title {
  padding: 2px 0px;
  float: right;
}
