$primary: #f39900;
$secondary: #6c757d;
$success: #28a745;
$info: #17a2b8;
$warning: #dc3545;
$danger: #dc3545;
$light: #f8f8f8;
$lightgray: #cccccc;
$dark: #252725;

$border-radius: 0.175rem;
$border-radius-lg: $border-radius;
$border-radius-sm: $border-radius;

$font-size-base: 0.875rem !default; // Assumes the browser default, typically `16px`
$font-size-lg: $font-size-base * 1.25 !default;
$font-size-sm: $font-size-base;

// webpack export
:export {
  primary: $primary;
  secondary: $secondary;
  success: $success;
  info: $info;
  warning: $warning;
  danger: $danger;
  light: $light;
  lightgray: $lightgray;
  dark: $dark;
  borderRadius: $border-radius;
}
