$primary: #22d0ab;
$secondary: #6c757d;
$success: #22d0ab;
$info: #14148d;
$warning: #df209f;
$danger: #df209f;
$light: #f8f8f8;
$lightgray: #cccccc;
$gray: #3c3c3c;
$dark: #252725;
$blue: #14148d;

$border-radius: 0.175rem;
$border-radius-lg: $border-radius;
$border-radius-sm: $border-radius;

$font-size-base: 0.875rem !default; // Assumes the browser default, typically `16px`
$font-size-lg: $font-size-base * 1.25 !default;
$font-size-sm: $font-size-base;

$spacer: 1rem !default;
$spacers: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
  (
    0: 0,
    1: (
      $spacer * 0.25,
    ),
    2: (
      $spacer * 0.5,
    ),
    3: $spacer,
    4: (
      $spacer * 1.5,
    ),
    5: (
      $spacer * 3,
    ),
  ),
  $spacers
);

$one: map-get($spacers, 1);
$two: map-get($spacers, 2);
$three: map-get($spacers, 3);
$four: map-get($spacers, 4);
$five: map-get($spacers, 5);

// webpack export
:export {
  primary: $primary;
  secondary: $secondary;
  success: $success;
  info: $info;
  warning: $warning;
  danger: $danger;
  light: $light;
  lightgray: $lightgray;
  gray: $gray;
  dark: $dark;
  blue: $blue;
  borderRadius: $border-radius;
  one: $one;
  two: $two;
  three: $three;
  four: $four;
  five: $five;
}
