@import '../../../Theme';

.drag-here {
  position: relative;
  height: 100%;
  border-style: dashed;
  border-width: 2px;
  border-color: $lightgray;
  border-radius: $border-radius;
  background-color: $light;
}
