@import '../../../Theme';

.plugin {
  display: flex;
  flex-direction: column;
  position: relative;
  border-width: 1px;
  border-style: solid;
  border-color: $lightgray;
  border-radius: $border-radius;
}

.plugin hr,
.plugin p,
.plugin .col,
.plugin .row {
  padding: 0;
  margin: 0;
}

.toolbar {
  margin-right: 0px;
}

.toolbar svg {
  margin: 0px 6px 1px 6px;
}

.toolbar span {
  margin-right: 6px;
}
