@import '../../../Theme';

.plugin {
  position: relative;
  height: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: $lightgray;
  border-radius: $border-radius;
}

.plugin hr,
.plugin p,
.plugin .col,
.plugin .row {
  padding: 0;
  margin: 0;
}
