@import '../../../Theme';

.mobile-navigation {
  z-index: 4;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: $lightgray;
  background-color: $light;
  padding-right: 40px;
}

.mobile-navigation a {
  color: $gray;
}

.bumper {
  position: static;
  height: 50px;
}
