@import '../../config/Theme';

.selector {
  margin: 4px;
  border-radius: 5px;
  background-color: $lightgray;
  transform: translate(0, 0);
  cursor: pointer;
}

.selector .icon {
  margin-right: 14px;
}

.drag-icon {
  margin: 3px;
}
