@import '../../Theme';

.btn-copy {
  color: $grey;
}

.btn-copy:hover {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.highlighter + .btn-copy {
  position: absolute;
  top: 0;
  right: 0;
}

.syntax-highlighter {
  position: relative;
}
