@import '../../Theme';

.pages h2,
.pages h3,
.pages h4 {
  margin-top: 1.5em;
  padding: 0.25em 0em;
}

.pages th,
.pages td {
  padding: 10px;
  border: 1px solid lightgray;
}

.syntax-highlighter {
  margin: 1em 0em;
}

.pages li {
  position: relative;
  left: $four;
}
