@import '../../config/Theme';

.chart {
  border-width: 1px;
  border-style: solid;
  border-color: $lightgray;
  height: 100%;
}

.chart hr,
.chart p,
.chart .col,
.chart .row {
  padding: 0;
  margin: 0;
}
