.pie-chart {
  border-width: 1px;
  border-style: solid;
  height: 100%;
}

.pie-chart .title {
  background-color: red;
}

.pie-chart .content {
  background-color: green;
}

.pie-chart hr,
.pie-chart p {
  padding: 0;
  margin: 0;
}
