@import '../../config/Theme';

.menu-button {
  cursor: pointer;
  user-select: none;
}

.burger,
.grid {
  fill: $lightgray;
}

.user {
  background-color: $lightgray;
  border-radius: 100px;
}

.plus {
  color: $lightgray;
}
