@import '../../../Theme';

.mobile-navigation {
  z-index: 4;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 48px;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: $lightgray;
  background-color: white;
}

.mobile-navigation a {
  color: $gray;
  text-align: center;
  padding: 0px;
}

.mobile-navigation svg {
  margin-top: 2px;
  padding-top: 5px;
}

.mobile-navigation p {
  line-height: 14px;
}
