.dashboard-list ul {
  list-style: none;
}

.dashboard-list .card {
  border-width: 0;
}

.dashboard-list .card-body {
  padding: 0;
}

.dashboard-list {
  display: flex;
  min-height: calc(100vh - 200px);
}
